<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>Sonrisa云收藏</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/manager/css/layui.css" media="all">
    <link rel="stylesheet" href="/manager/style/admin.css" media="all">
    <link rel="stylesheet" href="/manager/css/simple-line-icons.css">
    <link href="/manager/css/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/manager/css/app.css">
    <script src="/index/js/jquery-1.7.2.js"></script>
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="/" target="_self" title="主页">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${nickname}"></cite>&nbsp;&nbsp;
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a style="text-align: center;font-weight: normal" lay-href="/user/uploadHeadPortrait">修改头像</a></dd>
                        <dd><a style="text-align: center;font-weight: normal" lay-href="/user/changeNickname">修改昵称</a></dd>
                        <dd><a style="text-align: center;font-weight: normal" lay-href="/user/changePwd">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;font-weight: normal"><a href="/logout">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs">
                    <a href=""></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                   <img src="/index/images/logo_white.png" height="50px" width="50px">
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <li>
                        <div>
                            <img src="/manager/images/logo_side.png">
                        </div>
                        <div>&nbsp;</div>
                        <div class="tm-timeline-item-inner">
                            <img id="portrait" style="width:60px; height:60px; border-radius:50%;margin: auto" th:src="${portraitPath}" alt="Image" class="tm-img-timeline">
                        </div>
                    </li>
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <span style="color: #FFB800">主导航</span>
                    </li>
                    <li data-name="home" class="layui-nav-item layui-nav-itemed layui-this">
                        <a id="theHome" lay-href="/manager/home" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                    </li>
                    <li data-name="component" class="layui-nav-item">
                        <a lay-href="/manager/openFolder/未分类" lay-tips="未分类文章" lay-direction="2">
                            <i class="layui-icon layui-icon-star"></i>
                            <cite>未分类文章</cite>
                        </a>
                    </li>
                    <li data-name="template" class="layui-nav-item">
                        <a lay-tips="收藏夹" lay-direction="2">
                            <i class="icon-folder" style="position: absolute; top: 50%; left: 20px; margin-top: -8px;"></i>
                            <cite>收藏夹</cite>
                        </a>
                        <dl class="layui-nav-child" id="folders">
                            <dd data-name="addFolder" class="layui-anim layui-anim-scale">
                                <a lay-href="/manager/addFolder"><span class="layui-icon layui-icon-addition">&nbsp;新建收藏夹</span></a>
                            </dd>
                            <dd data-name="folder" th:each="folder,x:${folders}" class="layui-anim layui-anim-scale">
                                <a th:text="${folder.name}" class="openFolder" th:lay-href=" '/manager/openFolder/'  + ${folder.name}"></a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a lay-tips="发现" lay-href="/manager/lookAround" lay-direction="2">
                            <i class="layui-icon layui-icon-find-fill"></i>
                            <cite>发现</cite>
                        </a>
                    </li>
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <span style="color: #FFB800">工具栏</span>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a lay-tips="开始使用点我" lay-href="/manager/tool" lay-direction="2">
                            <i class="layui-icon layui-icon-release"></i>
                            <cite>开始使用</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/manager/home" lay-attr="/manager/home" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/manager/home" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="/manager/js/layui.js"></script>
<script>
    document.onselectstart= function(event){return false;};
    layui.config({
        base: '/manager/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>
</body>
</html>


